var Header = React.createClass({
	render() {
		return(
			<div>
				<a href="https://www.linkedin.com/in/angelica-pilarca"><img className="headshot" src="<%= asset_path('AngelicaHeadshot.png') %>" /></a>
			</div>
		)
	}
});